@font-face {
  font-family: zhuanti;
  src: url("../font/hanyi.woff2") format("woff2");
}
p.formula {
  font-size: 24pt;
  margin: 1em;
}
pre, p:not(.formula) {
  font-family: 'Courier Prime', monospace;
  font-size: 11pt;
  font-weight: bold;
}
footer{
  background-color: #bbbbbb;
  align-items: center;
  border: 1px;
  margin: 3px;
  text-align: left;
}
footer > pre.chinese {
  font-family: zhuanti;
  font-size: 48pt;
  font-weight: normal;
  color:	#B8860B;
  margin: 5px;
  display: inline-block;
  border-style: double;
  border-radius: 5px;
  border-color: white;
}
footer > pre#result {
  text-align: right;
  margin-right: 1em;
}
footer > pre > span.date {
  margin: 2px;
  text-decoration: underline;
  color: maroon;
}